---
import Layout from '../layouts/Layout.astro';
import { Hero } from '@/components/home/Hero';
import { OurServices } from '@/components/home/OurServices';
import { OurProcess } from '@/components/home/OurProcess';
import { CallToAction } from '@/components/home/CallToAction';
---

<Layout title="CodeFounder - Digital Consulting & Web Development">
  <main>
    <Hero />
    <OurServices />
    <OurProcess/>
    <CallToAction/>
  </main>
</Layout>