---
interface Props {
	title: string;
}
const { title } = Astro.props;
import { Footer } from "@/components/layout/Footer";
import "@fontsource/space-mono";
import "@/styles/globals.css";
import { Navigation } from "@/components/layout/Navigation";
import { getBaseUrl } from "@/lib/utils";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<base href={import.meta.env.BASE_URL} />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href={getBaseUrl("/apple-touch-icon.png")}
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href={getBaseUrl("/favicon-32x32.png")}
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href={getBaseUrl("/favicon-16x16.png")}
		/>
		<link rel="manifest" href={getBaseUrl("/site.webmanifest")} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation client:load />
		<slot />
		<Footer />
	</body>
</html>
